.header{
    width: 100%;
    text-align: left;
}
.header h3{
    display: inline;
}
.header button{
    float: right;
    border: 1px solid white;
}
#start,#status{
    font-size: 22px;
}
body {
    background-size: contain;
    background-position: center;
}